[Desktop Entry]
Type=Application
Name=Proton-GE-6.4-1 (6.4)
Exec=proton-ge64-1-gui.sh %F
MimeType=application/x-ms-dos-executable;
Icon=org.winehq.proton-ge64-1
NoDisplay=false
StartupNotify=true
X-Desktop-File-Install-Version=0.26
Categories=Emulator;
X-Flatpak-RenamedFrom=wine.desktop;
X-Flatpak=org.winehq.proton-ge64-1
