[Desktop Entry]
Type=Application
Name=Create Bottle: Proton-GE-6.5-2 (6.5)
Exec=wine-create-bottle.sh %F
MimeType=application/x-ms-dos-executable;
Icon=org.winehq.proton-ge65-2-create-bottle
Categories=Emulator;
NoDisplay=false
StartupNotify=true
X-Desktop-File-Install-Version=0.26

