[Desktop Entry]
Type=Application
Name=wine-x86_64 KILL program (flatpak)
Exec=flatpak kill org.winehq.wine-x86_64
#MimeType=application/x-ms-dos-executable;
Icon=org.winehq.wine-x86_64
NoDisplay=false
StartupNotify=true
X-Desktop-File-Install-Version=0.26

