[Desktop Entry]
Type=Application
Name=Create Bottle: flatpak-wine (5.0.5)
Exec=wine-create-bottle.sh %F
MimeType=application/x-ms-dos-executable;
Icon=org.winehq.flatpak-wine-create-bottle
Categories=Emulator;
NoDisplay=false
StartupNotify=true
X-Desktop-File-Install-Version=0.26

